body {
    background-color: #a2cacc;
    margin: 0;
    display: flex;
    height: 100vh;
}




#content-container {
    display: flex;
    justify-content: space-between; /* Espacement maximal entre les deux côtés */
    padding: 20px;
}

#left-content {
    flex: 1;
}



#description {
    font-family: 'Lora', serif;
    margin-top: 50px; 
    margin-left: 270px;

}

#map {
    height: 750px;
    width: 100%; /* La carte prend maintenant la moitié droite de l'écran */
    border-radius: 15px;
}
